{%extends 'main/base.html'%}
{%load staticfiles%}
{%block body%}
<style>
    .third{
            background: linear-gradient(45deg,#a75b10 100%,#ffd8b1);
            box-shadow: 0 0 12px #ffd8b1;
    }

    @media only screen and (max-width: 767px){
        .accordion .card-body {
        font-size: 11px;
        padding-top: 0.8rem;
        }
        .schedule .schedule-tab-title .nav-tabs .nav-item{
            width:100%;
        }
        .schedule .schedule-tab-title .nav-tabs .nav-link {
            width:100%;
        }
    }
    @media (max-width: 991px){
        .accordion .card-body {
        font-size: 12px;
        padding-top: 0.8rem;
        }
    }
    .highlighted{
      font-weight: bold;
      color:#25a7bf;
    }
</style>
<!-- Main Carousel Section Start -->
<div id="main-slide" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#main-slide" data-slide-to="0" class="active"></li>
    <li data-target="#main-slide" data-slide-to="1"></li>
    <li data-target="#main-slide" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-image-custom"
        style="background-image:linear-gradient(45deg,rgba(0,0,0,.4),rgba(0,0,0,.2)), url({%static 'img/car1-min.png'%})">
      </div>
      <div class="carousel-caption d-md-block">
        <p class="fadeInUp wow" data-wow-delay=".6s">PREPARE YOURSELF FOR THE</p>
        <h1 class="wow fadeInDown heading" data-wow-delay=".4s">HACKATHON 2019</h1>
        <a href="{%url 'student_form'%}" class="fadeInLeft wow btn btn-common btn-lg" data-wow-delay=".6s">ENROLL
          NOW</a>
        <a href="{%url 'problem_list'%}" class="fadeInRight wow custom-btn-border btn btn-border btn-lg"
          data-wow-delay=".6s">PROBLEM LIST</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image-custom"
        style="background-image:linear-gradient(45deg,rgba(0,0,0,.4),rgba(0,0,0,.6)),url({%static 'img/car2-min.png'%})">
      </div>
      <div class="carousel-caption d-md-block">
        <p class="fadeInUp wow" data-wow-delay=".6s">GET YOUR CODING SKILL ENHANCED</p>
        <h1 class="wow bounceIn heading" data-wow-delay=".7s">HACKATHON 2019</h1>
        <a href="{%url 'student_form'%}" class="fadeInLeft wow btn btn-common btn-lg" data-wow-delay=".6s">ENROLL
          NOW</a>
        <a href="{%url 'problem_list'%}" class="fadeInRight custom-btn-border wow btn btn-border btn-lg"
          data-wow-delay=".6s">PROBLEM LIST</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image-custom"
        style="background-position:0% 50%;background-image:linear-gradient(45deg,rgba(0,0,0,.4),rgba(0,0,0,.6)),url({%static 'img/car3-min.png'%})">
      </div>
      <div class="carousel-caption d-md-block">
        <p class="fadeInUp wow" data-wow-delay=".6s">CODE AND EARN CASH PRIZE</p>
        <h1 class="wow fadeInUp heading" data-wow-delay=".6s">HACKATHON 2019</h1>
        <a href="{%url 'student_form'%}" class="fadeInLeft wow btn btn-common btn-lg" data-wow-delay=".6s">ENROLL
          NOW</a>
        <a href="{%url 'problem_list'%}" class="fadeInRight wow btn custom-btn-border btn-border btn-lg"
          data-wow-delay=".6s">PROBLEM LIST</a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#main-slide" role="button" data-slide="prev">
    <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-left"></i></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#main-slide" role="button" data-slide="next">
    <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-right"></i></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- Main Carousel Section End -->

</header>
<!-- Header Area wrapper End -->

<!-- Coundown Section Start -->
<section class="countdown-timer section-padding">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="heading-count">
          <h2 class="wow fadeInDown" data-wow-delay="0.2s">Event Will Start In</h2>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row time-countdown justify-content-center wow fadeInUp" data-wow-delay="0.2s">
          <div id="clock" class="time-count"></div>
        </div>
        <!---
            <a href="pricing.html" class="btn btn-common wow fadeInUp" data-wow-delay="0.3s">Add to My Calender</a>
            -->
      </div>
    </div>
  </div>
</section>
<!-- Coundown Section End -->

<!-- Services Section Start -->
<section id="services" class="services section-padding">
  <div class="container">
    <!--
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Why You Choose Us?</h1>
              <p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>
            </div>
          </div>
        </div>
      -->
    <div class="row services-wrapper">
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
        <div class="services-item wow fadeInDown" data-wow-delay="0.2s">
          <div class="icon">
            <i class="lni-calendar"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">DATE</a></h3>
            <p>27-28th September, 2019</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
        <div class="services-item wow fadeInDown" data-wow-delay="0.4s">
          <div class="icon">
            <i class="lni-map-marker"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">LOCATION</a></h3>
            <p>Vasai (West)</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
        <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
          <div class="icon">
            <i class="lni-hourglass"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">DURATION</a></h3>
            <p>30 Hours</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->


<!-- About Section Start -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">About VCET HACKATHON</h1>
          <p class="wow fadeInDown" data-wow-delay="0.2s">VCET Hackathon is a 30 hours Hackathon organized by Department
            of Information Technology of "Vidyavardhini's College of Engineering and Technology".
            By organizing this Hackathon, we are trying to promote a strong Programming and Product Building Culture
            among students that will help them develop Problem Solving, Critical Thinking and Software Development
            Skills.
            It is an experience to take on challenging problems we are surrounded by all the time and crack them down.
            Will you get time to eat? Can you ditch your sleep? Do you have passion to build?
            Find out in this 30 hours long thrilling experience!</p>
        </div>
      </div>
    </div>
    <!--
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="about-item">
              <img class="img-fluid" src="{%static 'img/about/img1.jpg'%}" alt="">
              <div class="about-text">
                <h3><a href="#">Wanna Know Our Mission?</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer commodo ligula eget dolor.</p>
                <a class="btn btn-common btn-rm" href="#">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="about-item">
              <img class="img-fluid" src="{%static 'img/about/img2.jpg'%}" alt="">
              <div class="about-text">
                <h3><a href="#">What you will learn?</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer commodo ligula eget dolor.</p>
                <a class="btn btn-common btn-rm" href="#">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="about-item">
              <img class="img-fluid" src="{%static 'img/about/img3.jpg'%}" alt="">
              <div class="about-text">
                <h3><a href="#">What are the benifits?</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetuer commodo ligula eget dolor.</p>
                <a class="btn btn-common btn-rm" href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      -->
  </div>
</section>
<!-- About Section End -->

<!-- Sponser Section -->
<section id="sponsor" class="">
  <div class="section-title-header text-center">
    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Sponsors</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center sponsor-content title-sponsor">
        <h1>Title Sponsor</h1>
        <img src="{%static 'img/sponsors/rawengineering.png' %}" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-center sponsor-content">
        <h1>Powered By</h1>
        <img src="{%static 'img/sponsors/built.io.png' %}" class="img-fluid" alt="">
      </div>
      <div class="col-sm-6 text-center sponsor-content">
        <h1>In Association With</h1>
        <img src="{%static 'img/sponsors/contentstack.png' %}" class="img-fluid" alt="">
      </div>
    </div>
</section>
<!-- Sponser Section End -->

<!-- Prize Section Start -->
<section class="section-padding" id='prizes'>
      <div class="container-fluid">
          <div class="section-title-header text-center">
              <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Prizes</h1>
            </div>
        <div class="d-flex justify-content-sm-around">
          <div class="prize-card text-center">
              <h3>2nd Prize</h3>
            <div class="prize-card-img">
                <img src="{%static 'img/trophy/2nd.svg'%}" alt="">
            </div>
            <div class="prize-card-content second">
              Rs. 25,000
            </div>
          </div>
          <div class="prize-card text-center">
              <h3>1st Prize</h3>
            <div class="prize-card-img">
                <img src="{%static 'img/trophy/1st.svg'%}" alt="">
            </div>
            <div class="prize-card-content first">
                Rs. 40,000
            </div>
          </div>
          <div class="prize-card text-center">
              <h3>3rd Prize</h3>
            <div class="prize-card-img">
                <img src="{%static 'img/trophy/3rd.svg'%}" alt="">
            </div>
            <div class="prize-card-content third">
                Rs. 10,000
            </div>
          </div>
      </div>
</section>
<!-- Prize Section End -->

<!-- Counter Area Start-->
<section class="counter-section section-padding">
  <div class="container">
    <div class="row">
      <!-- Counter Item -->
      <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
        <div class="counter wow fadeInRight" data-wow-delay="0.3s">
          <div class="icon"><i class="lni-world"></i></div>
          <p>WiFi</p>
          <span>The Speed you need to reach your limits.</span>
        </div>
      </div>
      <!-- Counter Item -->
      <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
        <div class="counter wow fadeInRight" data-wow-delay="0.6s">
          <div class="icon"><i class="lni-code"></i></div>
          <p>FACILITIES</p>
          <span>Proper environment for coding competition.</span>
        </div>
      </div>
      <!-- Counter Item -->
      <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
        <div class="counter wow fadeInRight" data-wow-delay="0.9s">
          <div class="icon"><i class="lni-gift"></i></div>
          <p>Merchandise</p>
          <span>For extra motivation.We all love gifts, don't we?</span>
        </div>
      </div>
      <!-- Counter Item -->
      <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
        <div class="counter wow fadeInRight" data-wow-delay="1.2s">
          <div class="icon"><i class="lni-dinner"></i></div>
          <p>Food</p>
          <span>Breakfast, Lunch and Dinner along with Snacks.</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Counter Area End-->



<!-- Event Slides Section Start -->
<section id="event-slides" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Event Guideline</h1>
          <!--<p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>-->
        </div>
      </div>

      <div class="col-12 wow fadeInRight" data-wow-delay="0.3s">
        <h2 class="intro-title">RULES</h2>
        <ul class="list-specification">
          <li><i class="lni-check-mark-circle"></i> The VCET Hackathon will take place on <span class="highlighted">27th September, 2019</span></li>
          <li><i class="lni-check-mark-circle"></i> A team can consist of 1 to 4 members. Every member of the team must
            be a student of an university or a college. A team can have members from different colleges.</li>
          <li><i class="lni-check-mark-circle"></i> Entry fees is <span class="highlighted">Rs.500 </span> per member.</li>
          <li><i class="lni-check-mark-circle"></i> Participants are free to use open standard repositories, APIs and
            publically available libraries.</li>
          <li><i class="lni-check-mark-circle"></i> Participants will have to bring their laptops. Participants will not
            be allowed to take their machines out of the campus during Hackathon.</li>
          <li><i class="lni-check-mark-circle"></i> Participants are allowed to go home only after <span class="highlighted">30 hours</span>  of coding
            session followed by pitching session. We will provide resting area (separate for male and female
            participants).</li>
          <li><i class="lni-check-mark-circle"></i> Progress of the projects will be tracked during Hackathon. Use of
            readymade code or precompiled code will lead to disqualification.</li>
          <li><i class="lni-check-mark-circle"></i> No storage devices such as Pen Drives, Hard Drives etc. are allowed.
          </li>
          <li><i class="lni-check-mark-circle"></i> Participants are expected to behave professionally and responsibly.
          </li>
          <li><i class="lni-check-mark-circle"></i> Decisions made by organizers and judges are final.</li>
        </ul>
      </div>
      <div class="col-12">
        <a href="{%url 'student_form'%}" class="btn btn-common">REGISTER NOW</a>
      </div>
      <div class="col-12 wow fadeInLeft" data-wow-delay="0.3s">
        <br>
        <br>
        <h2 class="intro-title">REGISTRATION</h2>
        <ul class="list-specification">
          <li><i class="lni-check-mark-circle"></i> Select a total of 4 problem statement from the provided set of problem
            statements.</li>
          <li><i class="lni-check-mark-circle"></i> Provide the abstract/solution for the selected 4 statements which should contain Implementation, Features and Technology Stack.
            </li>
            <li><i class="lni-check-mark-circle"></i> The shortlisted teams will get a confirmation by <span class="highlighted">17th September 2019</span>.</li>
            <li><i class="lni-check-mark-circle"></i> Payment for the selected teams i.e. Rs.500 per member should be done
              by <span class='highlighted'>19th September 2019</span> . Payment for all team members should be done by a single transaction.</li>
          <li><i class="lni-check-mark-circle"></i> The Final Problem statement for your team from the 4 statements that you selected will be revealed on <span class="highlighted">25th September.</span>
           </li>
          <li><i class="lni-check-mark-circle"></i> Further details will be provided in email.</li>
          <li><i class="lni-check-mark-circle"></i> Following are the methods of payment</li>
        </ul>
      </div>
      <div class="col-12">
        <a href="form.html" class="btn btn-common btn-pay" data-toggle="modal" data-target="#neftModal">NEFT</a>
        <a href="form.html" class="btn btn-common btn-pay" data-toggle="modal" data-target="#upiModal">UPI</a>
        <a href="form.html" class="btn btn-common btn-pay" data-toggle="modal" data-target="#cashModal">CASH</a>
      </div>
    </div>
  </div>
</section>
<!-- Event Slides Section End -->

<!--MODAL Start-->
<!--NEFT MODAL-->
<div class="modal fade" id="neftModal" role="dialog" style="display: none;" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 100px">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color:#f5f5f5;color:white;">
        <h4 class="modal-title" style="color:#555555;">Details for NEFT</h4>
      </div>
      <div class="modal-body" style="background-color:#f5f5f5;color:white;">
        <p style="color: #555555">Account Name: VCET<br>Bank: UNION BANK OF INDIA<br>Branch: Vidyavardhini College
          Road
          <br>A/C No: 320602011001031<br>IFSC: UBIN0562556</p>
        <p style="color: #555555">Payment should be done by single transaction per team. Carry your Transaction
          ID and Bank Details on the day of Hackathon. </p>
      </div>
      <div class="modal-footer" style="background-color:#f5f5f5;color:white;">
        <button type="button" class="btn payment-btns btn-common btn-rounded" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--CASH MODAL-->
<div class="modal fade" id="cashModal" role="dialog">
  <div class="modal-dialog" style="margin-top: 100px">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color:#f5f5f5;color:white;">
        <h4 class="modal-title" style="color: #555555;">Details for Cash</h4>
      </div>
      <div class="modal-body" style="background-color:#f5f5f5;color:white;">
        <p style="color: #555555">For cash payment, please contact following co-ordinators.</p>
        <p style="color: #555555">Ravikanth Sharma  : +91 90299 8675</p>
        <p style="color: #555555">Mohanish Bharambe : +91 88066 15247</p>
      </div>
      <div class="modal-footer" style="background-color:#f5f5f5;color:white;">
        <button type="button" class="btn payment-btns btn-common btn-rounded" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--UPI MODAL-->
<div class="modal fade" id="upiModal" role="dialog">
  <div class="modal-dialog" style="margin-top: 100px">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color:#f5f5f5;color:white;">
        <h4 class="modal-title" style="color:#555555;">Details for UPI</h4>
      </div>
      <div class="modal-body" style="background-color:#f5f5f5;color:white;">
        <p style="color: #555555">Account Name: VCET<br>Bank: UNION BANK OF INDIA<br>Branch: Vidyavardhini College
          Road
          <br>A/C No: 320602011001031<br>IFSC: UBIN0562556</p>
        <p style="color: #555555">Payment should be done by single transaction per team. Carry your Transaction
          ID and Bank Details on the day of Hackathon. </p>
      </div>
      <div class="modal-footer" style="background-color:#f5f5f5;color:white;">
        <button type="button" class="btn payment-btns btn-common btn-rounded" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--MODAL End-->

<!-- Schedule Section Start -->
<section id="schedules" class="schedule section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Event Schedules</h1>
          <!--<p class="wow fadeInDown" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor</p>-->
        </div>
      </div>
    </div>
    <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
      <div class="schedule-tab-title col-md-3 col-lg-3 col-xs-12">
        <div class="table-responsive">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="monday-tab" data-toggle="tab" href="#monday" role="tab"
                aria-controls="monday" aria-expanded="true">
                <div class="item-text">
                  <h4>Friday</h4>
                  <h5>27th September</h5>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tuesday-tab" data-toggle="tab" href="#tuesday" role="tab" aria-controls="tuesday">
                <div class="item-text">
                  <h4>Saturday</h4>
                  <h5>28th September</h5>
                </div>
              </a>
            </li>
            <!--
                <li class="nav-item">
                  <a class="nav-link" id="wednesday-tab" data-toggle="tab" href="#wednesday" role="tab" aria-controls="wednesday">
                    <div class="item-text">
                      <h4>Wednesday</h4>
                      <h5>16 February</h5>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="thursday-tab" data-toggle="tab" href="#thursday" role="tab" aria-controls="thursday">
                    <div class="item-text">
                      <h4>Thursday</h4>
                      <h5>17 February</h5>
                    </div>
                  </a>
                </li>
              -->
          </ul>
        </div>
      </div>
      <div class="schedule-tab-content col-md-9 col-lg-9 col-xs-12 clearfix">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="monday" role="tabpanel" aria-labelledby="monday-tab">
            <div id="accordion">
              <div class="card">
                <div id="headingOne">
                  <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne">
                    <div class="images-box">
                      <img class="img-fluid" src="{%static 'img/code-min.png'%}" alt="">
                    </div>
                    <span class="time">08 AM</span>
                    <h4>Coding Begins</h4>
                    <br>
                    <!--<h5 class="name">David Warner</h5>-->
                  </div>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <p>All participants are expected to reach the venue on time & start working on their projects by 08 AM.</p>
                    <div class="location">
                      <span>Location:</span> Labs
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div id="headingTwo">
                  <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    <div class="images-box">
                      <img class="img-fluid" src="{%static 'img/inaug-min.png'%}" alt="">
                    </div>
                    <span class="time">09 AM - 10 AM </span>
                    <h4>Inauguration of Hackathon</h4>
                    <h5 class="name">By: Chief Guest</h5>
                  </div>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    <p>Inauguration of the Hackathon Event will be done by the Chief Guest, Principal Sir & all our Faculty Members.</p>
                    <div class="location">
                      <span>Location:</span> Seminar Hall
                    </div>
                  </div>
                </div>
              </div>
              <!---
                  <div class="card">
                    <div id="headingThree">
                      <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <div class="images-box">
                          <img class="img-fluid" src="{%static 'img/speaker/speakers-3.jpg'%}" alt="">
                        </div>
                        <span class="time">10am - 12:30pm</span>
                        <h4>Getting Started With SketchApp</h4>
                        <h5 class="name">David Warner</h5>
                      </div>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        <p>Consectetur adipisicing elit. Quod distinctio impedit sint accusantium ducimus lites consequuntur innobisl dolores saepe.Proin sit amet turpis lobortis.</p>
                        <div class="location">
                          <span>Location:</span> Hall 1 , Building A, Golden Street, Southafrica
                        </div>
                      </div>
                    </div>
                  </div>
                -->
            </div>
          </div>
          <div class="tab-pane fade" id="tuesday" role="tabpanel" aria-labelledby="tuesday-tab">
            <div id="accordion2">
              <div class="card">
                <div id="headingOne1">
                  <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseOne1"
                    aria-expanded="false" aria-controls="collapseOne1">
                    <div class="images-box">
                      <img class="img-fluid" src="{%static 'img/judge-min.png'%}" alt="">
                    </div>
                    <span class="time">01 PM - 02 PM</span>
                    <h4>Selection for finalist</h4>
                    <h5 class="name">By: Invited Judges.</h5>
                  </div>
                </div>
                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordion2">
                  <div class="card-body">
                    <p>All Participants need to present their final work and the best ones will proceed for Pitching Round.</p>
                    <div class="location">
                      <span>Location:</span> Labs
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div id="headingTwo2">
                  <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseTwo2"
                    aria-expanded="false" aria-controls="collapseTwo2">
                    <div class="images-box">
                      <img class="img-fluid" src="{%static 'img/pitch-min.png'%}" alt="">
                    </div>
                    <span class="time">03 PM - 05 PM</span>
                    <h4>Final pitching of finalists.</h4>
                    <h5 class="name">By: Invited Judges.</h5>
                  </div>
                </div>
                <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordion2">
                  <div class="card-body">
                    <p>Pitching Round for the Finalists from which the Winners will be declared.</p>
                    <div class="location">
                      <span>Location:</span> Seminar Hall
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Schedule Section End -->

<!-- Gallery Section Start -->
<section id="gallery" class="section-padding">
    <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">our event gallery</h1>
              <!--<p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>-->
            </div>
          </div>
        </div>

        <div class="row left-positioning">
          <div class="col-md-5">
              <img src="{%static 'img/winners.jpg'%}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <button class="btn btn-common">Oct 13, 2017</button>
            <div class="content">
              <ul class='tabs'>
                <li><a href="">23 Teams</a></li>
                <li><a href="">6 Finalists</a></li>
                <li><a href="">Prize worth Rs.40,000</a></li>
              </ul>
              <ul class='tabs'>
                <li><a href="">1st St. John</a></li>
                <li><a href="">2nd DJ Sanghvi</a></li>
                <li><a href="">3rd VCET</a></li>
              </ul>
              <br>
              <h5><b>THE INITIAL STAGE ! </b></h5>
              <p>
                This was the first time that VCET was organising Hackathon and which went on to be one of the most successful events of the college. VCET's Hackathon 2017 saw 23 teams consisting of 65 participants competing against each other for 30 hours showcasing their Coding prowess to solve a Real World problem through their working prototypes.
                <br>
                The final day saw the 6 finalists pitching their unique ideas with working solutions before the judges. Out of which the Top 3 teams emerged as the winners of the very first edition of VCET's Hackathon winning cash prizes worth 40,000 INR.
              </p>
            </div>
          </div>
        </div>
        <div class="row right-positioning">
            <div class="col-md-5">
                <img src="{%static 'img/car3-min.png'%}" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
              <button class="btn btn-common">Oct 5, 2018</button>
              <div class="content">
                <ul class='tabs'>
                  <li><a href="">36 Teams</a></li>
                  <li><a href="">8 Finalists</a></li>
                  <li><a href="">Prize worth Rs.40,000</a></li>
                </ul>
                <ul class='tabs'>
                  <li><a href="">1st Team Revamp</a></li>
                <li><a href="">2nd Team Droidbox</a></li>
                <li><a href="">3rd Team Elite++</a></li>
                </ul>
                <br>
                <h5><b>SECOND ANNUAL ! </b></h5>
                <p>
                  Hackathon 2018 which was followed by the next year turned out much more successful than the previous year. This year the number of teams went up to 36 from 23, which was in the Inaugural year. Participants came up with solutions to real world problems by showcasing their Coding prowess.
                  <br>
                  Apart from monetary prizes, students got Internship as well as an enriching experience of building a working prototype which gives a great credibility to the designing and development skills of the participants and adds value to their resume.
                </p>
              </div>
            </div>
          </div>
    </div>
</section>
<!-- Gallery Section End -->

<!-- Gallary Section Start
<section id="gallery" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">our event gallery</h1>
          <p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ccol-md-6 col-sm-6 col-lg-4">
        <div class="gallery-box">
          <div class="img-thumb">
            <img class="img-fluid" src="{%static 'img/medal-min.png'%}" alt="">
          </div>
          <div class="overlay-box text-center">
            <a class="lightbox" href="{%static 'img/medal-min.png'%}">
              <i class="lni-plus"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-4">
        <div class="gallery-box">
          <div class="img-thumb">
            <img class="img-fluid" src="{%static 'img/inaug-min.png'%}" alt="">
          </div>
          <div class="overlay-box text-center">
            <a class="lightbox" href="{%static 'img/inaug-min.png'%}">
              <i class="lni-plus"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="ccol-md-6 col-sm-6 col-lg-4">
        <div class="gallery-box">
          <div class="img-thumb">
            <img class="img-fluid" src="{%static 'img/car1-square-min.png'%}" alt="">
          </div>
          <div class="overlay-box text-center">
            <a class="lightbox" href="{%static 'img/car1-min.png'%}">
              <i class="lni-plus"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="ccol-md-6 col-sm-6 col-lg-4">
        <div class="gallery-box">
          <div class="img-thumb">
            <img class="img-fluid" src="{%static 'img/code-min.png'%}" alt="">
          </div>
          <div class="overlay-box text-center">
            <a class="lightbox" href="{%static 'img/code-min.png'%}">
              <i class="lni-plus"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="ccol-md-6 col-sm-6 col-lg-4">
        <div class="gallery-box">
          <div class="img-thumb">
            <img class="img-fluid" src="{%static 'img/pitch-min.png'%}" alt="">
          </div>
          <div class="overlay-box text-center">
            <a class="lightbox" href="{%static 'img/pitch-min.png'%}">
              <i class="lni-plus"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="ccol-md-6 col-sm-6 col-lg-4">
        <div class="gallery-box">
          <div class="img-thumb">
            <img class="img-fluid" src="{%static 'img/car3-square-min.png'%}" alt="">
          </div>
          <div class="overlay-box text-center">
            <a class="lightbox" href="{%static 'img/car3-min.png'%}">
              <i class="lni-plus"></i>
            </a>
          </div>
        </div>
      </div>

    </div>

        <div class="row justify-content-center mt-3">
          <div class="col-xs-12">
            <a href="#" class="btn btn-common">Browse All</a>
          </div>
        </div>
  </div>
</section>
  Gallary Section End -->

<!-- Ask Question Section Start -->
<section id="faq" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Ask Question?</h1>
          <!--<p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <div class="header-title" data-toggle="collapse" data-target="#questionOne" aria-expanded="true"
                aria-controls="collapseOne">
                <i class="lni-pencil"></i> How to enter in the event?
              </div>
            </div>
            <div id="questionOne" class="collapse" aria-labelledby="headingOne" data-parent="#question">
              <div class="card-body">
                Register your team by providing the abstract to 4 Problem Statements and make the payment before the Last Date.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <div class="header-title" data-toggle="collapse" data-target="#questionTwo" aria-expanded="false"
                aria-controls="questionTwo">
                <i class="lni-pencil"></i> Which payment methods do you accept?
              </div>
            </div>
            <div id="questionTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#question">
              <div class="card-body">
                NEFT, UPI, Cash.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <div class="header-title" data-toggle="collapse" data-target="#questionThree" aria-expanded="false"
                aria-controls="questionThree">
                <i class="lni-pencil"></i> Who can join the event ?
              </div>
            </div>
            <div id="questionThree" class="collapse" aria-labelledby="headingThree" data-parent="#question">
              <div class="card-body">
                Any Student from Universirty or College.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <div class="header-title" data-toggle="collapse" data-target="#questionFour" aria-expanded="false"
                aria-controls="questionFour">
                <i class="lni-pencil"></i> Where is the event ?
              </div>
            </div>
            <div id="questionFour" class="collapse" aria-labelledby="headingThree" data-parent="#question">
              <div class="card-body">
                Vidyavardhini's College of Engineering and Technology
                <br>
                K.T. Marg, Dist-Palghar, Shastri Nagar
                <br>
                Vasai West, Maharashtra - 401202
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="accordion">
          <div class="card">
            <div class="card-header" id="headingOne2">
              <div class="header-title" data-toggle="collapse" data-target="#questionOne2" aria-expanded="true"
                aria-controls="collapseOne">
                <i class="lni-pencil"></i> Can I form team with a student from different college ?
              </div>
            </div>
            <div id="questionOne2" class="collapse" aria-labelledby="headingOne" data-parent="#question">
              <div class="card-body">
                A team can have members from different colleges. Every member of the team must be a student of an university or a college.  A team can consist of 1 to 4 members.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo2">
              <div class="header-title" data-toggle="collapse" data-target="#questionTwo2" aria-expanded="false"
                aria-controls="questionTwo">
                <i class="lni-pencil"></i> What is the last date to register ?
              </div>
            </div>
            <div id="questionTwo2" class="collapse" aria-labelledby="headingTwo" data-parent="#question">
              <div class="card-body">
                The last date to register is 26th September, 2019.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <div class="header-title" data-toggle="collapse" data-target="#questionFive" aria-expanded="false"
                aria-controls="questionFive">
                <i class="lni-pencil"></i> Which things are to be carried ?
              </div>
            </div>
            <div id="questionFive" class="collapse" aria-labelledby="headingThree" data-parent="#question">
              <div class="card-body">
                Participants will have to bring their laptops.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <div class="header-title" data-toggle="collapse" data-target="#questionSix" aria-expanded="false"
                aria-controls="questionSix">
                <i class="lni-pencil"></i> How much is the entry fees ?
              </div>
            </div>
            <div id="questionSix" class="collapse" aria-labelledby="headingThree" data-parent="#question">
              <div class="card-body">
                Entry fees is Rs.500 per member.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Ask Question Section End -->

<!-- Map Section Start -->
<section id="google-map-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">REACH US</h1>
          <!--<p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>-->
        </div>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.6599913057694!2d72.82654491447336!3d19.383869586912002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7aec0a4b41bef%3A0xbd1a4ca919d6a613!2sVidyavardhini's+College+of+Engineering+and+Technology!5e0!3m2!1sen!2sin!4v1506536306980"
        width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
  </div>
</section>
<!-- Map Section End -->

<section id="contact-map" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">CONTACT US</h1>
          <!--<p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>-->
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
        <h2 class="contact-title">Lets get in touch!</h2>
        <p>Feel free to contact us</p>
        <div class="widget">
          <ul class="social-list">
            <li><a class="facebook" href="https://www.facebook.com/VCET-Hackathon-504784249879705" target="_blank"><i
                  class="lni-facebook-filled"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/login?lang=en" target="_blank"><i
                  class="lni-twitter-filled"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/vcet-hackathon-038b3316b/" target="_blank"><i
                  class="lni-linkedin-filled"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/hackathon_vcet/" target="_blank"><i
                  class="lni-instagram-filled"></i></a></li>
          </ul>
          <br>
          <ul class="contact-info pt50">
            <li><i class="lni-map-marker"></i>
              <span>K.T. Marg, Dist-Palghar, Shastri Nagar
                <br>
                Vasai West, Maharashtra - 401202
              </span></li>
            <li><i class="lni-phone"></i><span>0250-2338234</span></li>
            <li><i class="lni-envelope"></i><span><a
                  href="mailto:vcet.hackathon@vcet.edu.in">vcet.hackathon@vcet.edu.in</a></span>
            </li>
            <li><i class="lni-world"></i><span><a href="https://www.vcet.edu.in">www.vcet.edu.in</a></span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
        <h2 class="contact-title">For Technical Queries</h2>
        <ul class="list-specification">
          <div class="contact-content">
            <b>Ravikant Sharma</b>
            <p>+91 90299 86750</p>
          </div>
          <div class="contact-content">
            <b>Devdoot Maji</b>
            <p>+91 70457 36881</p>
          </div>
          <div class="contact-content">
            <b>Ravi Lamkoti</b>
            <p>+91 81044 91993</p>
          </div>
          <br>
          <h2 class="contact-title">For Other Queries</h2>
          <ul class="list-specification">
            <div class="contact-content">
              <b>Kaushik Raikar</b>
              <p>+91 93592 46766</p>
            </div>
            <div class="contact-content">
              <b>Saloni Bandgar</b>
              <p>+91 78759 63140</p>
            </div>
          </ul>
      </div>
    </div>
  </div>
</section>
{%endblock%}
